.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider img{
    width: 50%;
    display: none;
    position: relative;
    left: 300px;
}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px;
    padding: 10px 15px;
    background-color: lightblue;
    color: black;
    border: none;
    cursor: pointer;
}
.prev{
    left: 0;
}
.next{
    right: 160px;
}
@keyframes fade{
    from {opacity: 0.5}
    to {opacity: 1}
}